* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(249, 240, 255, 1);
    background-image: url('img/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.font__big {
    font-weight: 700;
}

.size__big {
    font-size: 3rem;
}

.dark__violet {
    color: #29173f;
}

.display__flex {
    display: flex;
}

.flex__column {
    flex-direction: column;
}

.align__items {
    align-items: center;
}

.cursor__pointer {
    cursor: pointer;
}

.position__relative {
    position: relative;
}

.position__absolute {
    position: absolute;
}

.padding__bottom {
    padding-bottom: 25px;
}

.light__violet {
    color: #a18aac;
}

.opening__text {
    padding-block: 20px;
    justify-content: space-between;
}

.invisibility__text {
    display: none;
}

.visibility__text {
    display: block;
}

.animation__linear{
    transition: block .4s linear;
}

.width__space {
    width: 100%;
}

.background__pattern {
    z-index: 0;
}

.window__faqs {
    height: 100vh;
    display: grid;
    place-content: center;
}

.basis__faqs {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    z-index: 10;
}

.section__list::before {
    content: "";
    height: 2px;
    width: 100%;
    background-color: rgba(133, 131, 131, 0.2);
    position: absolute;
    bottom: 0;
}

.gap__low {
    gap: 1.5rem;
}

@media (max-width: 600px) {
    body {
        background-image: url('img/background-pattern-mobile.svg');
    }
    .basis__faqs {
        max-width: 300px;
    }
    .media__width {
        width: 25px;
    }
    .size__big {
        font-size: 2rem;
    }
}
